html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
	padding: 0;
}
body {
	background: #112D48;
	padding: 2rem;
	box-sizing: border-box;
	font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-center {
	text-align: center;
}
.logo {
	max-width: 100%;
	height: auto;
}
.login-wrapper {
	width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 95%;
    background: #fff;
    border-radius: 4px;
    padding: 4rem 3rem;
}
.login-wrapper__title {
	text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
label {
	display: block;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
.form-control,
.btn {
	font-size: 1.5rem;
    border-radius: 2px;
    width: 100%;
}
.form-control {
	height: 5rem;
    padding: 6px 12px;
    border: 1px solid #dee5e7;
    box-sizing: border-box;
    color: #555;
    padding-top: 2px;
    margin-bottom: 2rem;
}
.btn {
	font-size: 1.5rem;
	background: #88D098;
	border: 1px solid #88D098;
	color: #fff;
	font-weight: 700;
	padding: 2rem;
	padding-top: 1.5rem;
	cursor: pointer;
}
.forgot-wrapper {
	margin-top: 3rem;
}
.forgot-wrapper p {
	color: rgba(255, 255, 255, 0.8);
}
.forgot-wrapper p a {
	color: #fff;
	text-decoration: none;
}
.forgot-wrapper p,
.forgot-wrapper p a {
	font-size: 1.4rem;

}
.login-wrapper p {
	font-size: 1.2rem;
	color: #57584e;
}
.login-wrapper p a {
	color: #3676c8;
	text-decoration: none;
}
form .error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
}
/* index.html */
nav {
	background: #fff;
    padding: 1rem 2rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
.navbar-brand svg {
	height: 24px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
li {
  float: left;
}

li a,
.dropbtn {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: bold;
    color: #011b33;
    line-height: 1.3;
    vertical-align: middle;
    letter-spacing: -0.01em;
}
li a:hover, .dropdown:hover .dropbtn {
    color: #0BA4Db;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    z-index: 1;
    border: solid 1px rgba(0,0,0,0.04);
    box-shadow: 0 8px 16px 0 rgba(3,49,86,0.08);
    border-radius: 6px;
    padding-top: 5px;
}

.dropdown-content a {
  text-decoration: none;
  color: #011b33;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px 15px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

a.btn-create {
	background-color: #3bb75e;
    color: #fff;
    transition: ease-in-out 0.3s all;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 1.5rem;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none;
}
a.btn-create:hover {
	color: #fff;
}
.container {
	max-width: 1150px;
	margin: auto;
	padding: 0 16px;
	width: 100%;
	position: relative;
}
.header-box {
	padding: 5rem 0;
	padding-top: 12rem;
}
.header-box h1 {
    font-size: 4.8rem;
    color: #011b33;
    font-weight: bold;
    margin-top: 0;
}
.accept-wrapper {
	max-width: 70rem;
}   
.header-box p {
	font-size: 2rem;
    line-height: 1.5;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.mt-80 {
	margin-top: 8rem;
}